<div class="d-flex h-100">
  <app-routes-menu class="h-100"></app-routes-menu>

  <div
    *ngIf="activeEnvironment$ | async as activeEnvironment"
    class="d-flex flex-column flex-fill mh0 p-2"
  >
    <ng-container [formGroup]="activeRouteFolderForm">
      <!-- name-->
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Folder name</span>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Path supports regexes and params: */:var/a(b)?c/[0-9]{1,5}"
          appValidPath
          formControlName="folderName"
        />
      </div>

      <!-- Documentation -->
      <div class="input-group-text">Documentation</div>
      <div class="input-group mt-2">
        <input
          type="text"
          class="form-control"
          placeholder="Add notes or documentation"
          formControlName="documentation"
        />
      </div>
    </ng-container>

  </div>
</div>

